<div class="container">
    <h3 style="text-align:center; margin-top:10px;">Add Food Items</h3>
    <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
           
            <label for="AddItem">Add Item Name </label>
             <!-- event Binding-->
            <input type="text" formControlName="item" class="form-control" (input)="showButton($event)"/>
        </div>
        <div class="form-group">
            <label for="NoOfItem">No Of Item</label>
            <input type="number" class="form-control" formControlName="count">
        </div>
        <!-- Property Binding -->
        <button type="submit" class="btn btn-primary" [disabled] = "isDisabled">Add Item</button>   

    </form>
    <table class="table" style="margin-top:20px;" *ngIf="itemName != ''" >
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Name:</th>
                <th scope="col">Count:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item1 of itemList">
                <td>{{item1.itemName}}</td>
                <td>{{item1.itemCount}}</td>
            </tr>
        </tbody>
    </table>
    
    <app-data-binding></app-data-binding>
</div>