<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead >
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col"> First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Age</th>
                        <th scope="col">Proffession</th>
                        <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item1 of getdata.userList let i = index" (click)="selectedUser(i)">
                        <td class="w-25">
                            <img [src]="item1.filedata" class="img-fluid img-thumbnail" alt="img">
                        </td>
                        <td>{{item1.fname}}</td>
                        <td>{{item1.lname}}</td>
                        <td>{{item1.gender}}</td>
                        <td>{{item1.age}}</td>
                        <td>{{item1.proffession}}</td>
                        <td> <button type="button" [routerLink]="['/update',i]">Update</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>