<h2>Add User</h2>
<form [formGroup]="UserForm" (ngSubmit)="onSubmit()">
    <!-- <div formGroupName="userData"> -->
    <div class="form-group ">
        <label>First Name</label>
        <input type="text" class="form-control" formControlName="fname">
    </div>
    <div class="form-group ">
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="lname">
    </div>
    <div class="form-group">
        <label>Gender : &nbsp;</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="male" formControlName="gender">
            <label class="form-check-label">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="female" formControlName="gender">
            <label class="form-check-label">Female</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>age</label>
            <input type="number" class="form-control" formControlName="age">
        </div>
        <div class="form-group col-md-6">
            <label>Proffession</label>
            <input type="text-area" class="form-control" formControlName="proffession">
        </div>
    </div>
    <div class="form-group ">
        <label>Image</label>
        <input type="file" class="form-control" formControlName="img" (change)="onSelectedChange($event)">
    </div>
    <button type="submit" class="btn btn-primary">Add User</button>
    <!-- </div> -->
</form>