 <!-- <ul class="nav justify-content-end grey lighten-4 py-4">
    <li class="nav-item">
        <a class="nav-link active" routerLink="/Users">Add Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/listusers">All Users</a>
    </li>
</ul>  -->
<mat-toolbar color="primary">        
      Users data        
    <a mat-button routerLink="/Users">Add Users</a>  
    <a mat-button routerLink="/listusers">All Users</a>
  </mat-toolbar>
  
<router-outlet></router-outlet>