<div class="container">
    <table class="table" style="margin-top:20px;" *ngIf="getdataService.signList.length > 0" >
        <thead class="thead-dark" >
            <tr>
                <th scope="col"> First Name:</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">State</th>
                <th scope="col">Date</th>
                <th scope="col">Experienced</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item1 of getdataService.signList">
                   <td>{{item1.personalData.fname}}</td>
                <td>{{item1.personalData.lname}}</td>
                <td>{{item1.personalData.gender}}</td>
                <td>{{item1.personalData.email}}</td>
                <td>{{item1.personalData.password}}</td>
                <td>{{item1.personalData.state}}</td>
                <td>{{item1.personalData.date}}</td>
                <td>{{item1.personalData.exp}}</td>
            </tr>
        </tbody>
    </table>
    
</div> 